@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #dde1e7;
}
.heading {
  top: 30px;
  font-size: 30px;
  position: absolute;
  font-family: "Poppins", sans-serif;
  color: gray;
}
.wrapper {
  width: 70vw;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  padding: 25px;
  border-radius: 10px;
  margin: auto;
}

.wrapper .keys {
  display: flex;
  justify-content: center;
}

.wrapper .keys input {
  height: 50px;
  min-width: 50px;
  padding: 10px;
  border: none;
  outline: none;
  margin: 10px;
  color: grey;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  font-size: 20px;
  border-radius: 5px;
}

.wrapper .keys input:focus {
  font-size: 19px;
  color: #3498db;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.wrapper .keys input[value="SPACE"] {
  width: 60%;
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 18px;
  }
  .wrapper {
    width: 96vw;
  }
  .wrapper .keys input {
    height: 20px;
    min-width: 20px;
    padding: 2px;
    margin: 7px 5px;
    border-radius: 3px;
    font-size: 8px;
  }
  .wrapper .keys input:focus {
    font-size: 9px;
  }
}
